################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckRunner/.vs/CheckRunner/DesignTimeBuild
